.beer {
  position: absolute;
  bottom: 0;
  width: 200px;
  background: #e69100;
}
.beer-container {
  height: 150px;
  width: 250px;
  position: relative;
  margin-right: 2rem;
}
.beer-container img {
  z-index: 100;
  height: 150px;
  width: 250px;
  position: absolute;
}

.name {
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
  background: #99ecf5;
  border-radius: 100px;
}

.main-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  z-index: 1000;
}
.main-button button {
  width: 100%;
  padding: 15px;
}
img.gravatar {
  border-radius: 50%;
  top: 40px;
  left: 74px;
}
.glass {
  display: inline-block;
}

.chatWindow {
  background: grey;
  margin-top: 50px;
  position: relative;
  border: 5px solid #a09696;
  border-radius: 14px;
}

.chatBody {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 400px) {
  .chatBody {
    height: 200px;
  }
  .beer {
    position: absolute;
    bottom: 0;
    width: 100px;
    background: #e69100;
  }
  .beer-container {
    height: 65px;
    width: 100px;
    position: relative;
    margin-right: 2rem;
  }
  .beer-container img {
    z-index: 100;
    height: 65px;
    width: 100px;
    position: absolute;
  }
}

.chatMsgContainer {
  display: flex;
  margin: 1rem;
}

.chatMsg {
  padding: 0.5rem;
  border-radius: 10px;
}

.chatInput {
  position: sticky;
  width: 100%;
  height: auto;
  top: 350;
  padding: 0.5rem;
}
