<div *ngIf="!group" class="form form-start">
  <div class="container">
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="name"
        placeholder="name"
      />
    </div>
    <div class="form-group">
      <label>Group</label>
      <input
        type="text"
        class="form-control"
        name="id"
        [(ngModel)]="groupId"
        placeholder="group"
      />
    </div>
    <button (click)="CreateOrJoin()" class="btn btn-primary">
      Create or Join Group
    </button>
  </div>
</div>

<div *ngIf="group">
  <div class="glass" *ngFor="let glass of group.glasses">
    <div class="beer-container">
      <div class="beer" [style.height]="glass.value + '%'"></div>
      <img src="assets/Glass-512 (1).png" />
    </div>
  </div>
  <div class="main-button" *ngIf="group.hasStarted && !group.hasFinished">
    <button (click)="Drink()">Drink</button>
  </div>
  <div
    class="main-button"
    *ngIf="!group.hasStarted && connectionId == group.owner"
  >
    <button (click)="Start()">Start</button>
  </div>
  <div class="main-button" *ngIf="group.hasFinished">
    Drinking is over!!! Winner is
    <b>{{ group.winnerEmail }}</b
    >. Click <button (click)="clear()">Here</button> to start over.
  </div>
</div>
